/* Global CSS Style */

body {
  background: #95E8F3;
}

.container {
  width: 100%;
}

.project-summary {
  border-radius: 0.3rem;
  padding: 1rem;
}

form {
  padding: 1rem 2.5rem;
  margin: 2rem ;
  border-radius: 0.5rem;
}
